.alldiv{
    margin-top: 76px;
    margin-bottom: 76px;
    /* margin-right: 500px; */
    /* width: 1200px; */
    /* align-items: left; */
    /* text-align: left; */
}

.tableHead{
    /* background-color: red; */
    /* width: 1400px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.searchTable {
    display: flex;
    align-items: center;
  }
  
  #searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    width: 200px; /* Adjust width as needed */
    height: 38px;
  }
  
  .searchTable button[type="submit"] {
    background-color: #AB845B; /* Change the background color as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 15px;
    height: 38px;
  }
  
  .searchTable button[type="submit"]:hover {
    background-color: #94724e; /* Change the hover background color as needed */
  }
  
  .fa-search {
    font-size: 16px; /* Adjust icon size as needed */
  }

.search-container{
    /* background-color: green; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.AddItemBtn{
    background-color: #AB845B;
    border: none;
    margin-bottom: 20px;
    margin-top: -40px;
    float: right;
    font-weight: 500;
}

.AddItemBtn:hover{
    cursor: pointer;
    background-color: #94724e;
}

.LogoutBtn{
  background-color: #0e3acc;
  border: none;
  margin-bottom: 20px;
  margin-top: -40px;
  margin-left: 10px;
  float: right;
  font-weight: 500;
}

.LogoutBtn:hover{
  cursor: pointer;
  background-color: #0c30a5;
}

.ReportBtn{
  background-color: #AB845B;
  border: none;
  margin-bottom: 20px;
  margin-top: -40px;
  float: left;
  font-weight: 500;
}

.ReportBtn:hover{
  cursor: pointer;
  background-color: #94724e;
}

.tablecontainer{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.op{
    text-align: center;
}

.EditDeleteBTNs{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

thead{
    border: 1px solid ;
}
.makeReservationButton {
  display: inline-block; 
  margin-left: 10px;
  /* display: flex; */
  /* justify-content: flex-end; Align items to the right */
  /* margin-top: 10px; Optional: Adjust spacing */
  /* Ensure the container only takes up necessary space */
}

.makeReservationButton .addItemBtn {
  /* Base styles */
  background-color: #007bff; /* Button color */
  color: #fff; /* Text color */
  padding: 7px 20px; /* Padding */
  
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  

  /* Hover effect */
  transition: background-color 0.3s ease;
}

.makeReservationButton .addItemBtn:hover {
  background-color: #0056b3; /* Darker color on hover */
}

/* Optional: If you want to remove the default link styles */
.makeReservationButton .addItemBtn {
  text-decoration: none;
}


/* .tbl{
  width: 1100px;
  text-align: right;
} */

.popularLabel{
  font-weight: 600;
  font-size: 0.6rem;
  color: #ffffff;
  background-color: #0a975c;
  padding: 3px 5px;
  border-radius: 5px;
}