/* .staffformBootstrap{
    width: 500px;
    background-color: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
  }

  .staffformBootstrap h1{
    text-align: center;
  } */