.updateFormContainer{
    margin-top: 100px;
    margin-left: -220px;
    margin-bottom: 25px;
  }
  
  .updateformBootstrap{
      width: 500px;
      background-color: none;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
      border: 1px dashed #ccc;
      border-radius: 10px;
      padding: 20px;
    }
  
    .updateformBootstrap h2{
      text-align: center;
    }
  
    .updatebtndiv{
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  
  
  