.SectorMenu{
    position: relative;
    background-image: url('../images/menubanner.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-family: 'Poppins';
}

.SecOverlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SectorAlignDiv{
    width: 1400px;
    padding: 10px;
}

.menuIconsContainer img{
    width: 90px;
}

.menuIconsContainer{
    text-align: center;
}

.menuInfoContainer{
    margin-bottom: -10px;
}

.menuInfoContainer h1{
    font-size: 2.2em;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
}

.menuItemsSector{
    width: 1400px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
}

.menucard{
    background-color: none;
    width: 200px;
    height: 230px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    text-align: center;
    
}

.submenucard{
    background-color: rgba(17, 24, 25, 0.19);
    width: 140px;
    height: 150px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.submenucard img{
    margin-top: 5px;
}

.nameh4{
    font-size: 1.5em;
    font-weight: 400;
}

.priceh2{
    font-size: 1.5em;
    font-weight: 600;
}

#searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    width: 200px; /* Adjust width as needed */
    height: 38px;
  }

  .searchTable button[type="submit"] {
    background-color: #AB845B; /* Change the background color as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 15px;
    height: 38px;
  }
  
  .searchTable button[type="submit"]:hover {
    background-color: #94724e; /* Change the hover background color as needed */
  }

  .fa-search {
    font-size: 16px; /* Adjust icon size as needed */
  }

.search-container{
    width: fit-content;
    margin-left: 41.7%;
    margin-right: 41.7%;
    margin-top: 400px;
    position: absolute;
}

.popularLabel{
    font-weight: 600;
    color: #ffffff;
    background-color: #0a975c;
    padding: 3px 5px;
    border-radius: 5px;
}