/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

/* .pagegridcontainer{
  display: grid;
  grid-template-columns: 1fr 4fr;
} */

/* HEADER */

.header {
  background: #161616;
  height: 76px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  /* max-height: 76px; */
}
.header .headercontainer {
  /* background-color: green; */
  max-width: 1400px;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .headercontainer h2{
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  /* margin-left: 60px; */
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.pages{
  /* max-width: 1400px; */
  /* padding: 20px; */
  margin: 0 auto;
  margin-left: 240px;
  /* margin-right: 0%; */
}

/* FOOTER */

footer {
  background-color: #161616;
  color: #fff;
  padding: 20px;
  /* margin-top: 20px; */
  /* z-index: -1; */
  z-index: 10;
}

.copyright{
  text-align: center;
}

.copyright p{
  font-size: 0.7rem;
  margin: 0;
}

.copyright small{
  font-size: 0.6rem;
  margin: 0;
}

.copyrighthr{
  /* height: 12px; */
  background-color: #ffffff!important;
}

.daedra{
  color: #AB845B;
  font-weight: 600;
}

/* SideNavPanel */

.sidenavpanel {
  height: 100%;
  width: 218px; /* Adjust the width as needed */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161616e7;
  /* background-color: #161616; */
  padding-top: 100px;
  z-index: 1;
}

.sidenavpanel h4{
  margin-left: 10px;
  color: #ffffff;
}

/* Style for the links */
.sidenavpanel a {
  display: block;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
}

/* Hover effect */
.sidenavpanel a:hover {
  background-color: #AB845B!important;
  color: #161616;
}

/* Active link */
/* .sidenavpanel .active {
  background-color: #AB845B;
} */

/* .sidenavcontent{
  margin-left: 200px;
  padding: 20px;
} */

/* .logoutdiv{
  color: white;
} */

  /* .ccc{
    background-color: red;
    width: 500px;
  } */

  /* .accessbox{
    background-color: #161616;
    height: 50px;
    padding-left: 10px;
    padding-top: 12px;
  }

  .accessbox:hover{
    background-color: #AB845B!important;
    color: #161616!important;
  }

  .accessbox p{
    color: white;
    margin: 0;
    font-size: 1.0rem;
    font-weight: 400;
  }

  .accessbox:hover p {
    color: #161616;
  } */