/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}


/* HEADER */

.header {
  background: #161616;
  height: 76px;
  /* max-height: 76px; */
}
.header .headercontainer {
  /* background-color: green; */
  max-width: 1400px;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .headercontainer h2{
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  /* margin-left: 60px; */
}
.header a {
  color: #ffffff;
  text-decoration: none;
}

.headerbtndiv{
  width: fit-content;
  padding: 0 40px;
  height: 100%;
  /* margin: 0; */
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.headerbtndiv:hover{
  background-color: #656565!important;
}

/* .headerbtndiv:active{
  background-color: #AB845B!important;
} */

.headerbtndiv p{
  text-align: center;
  margin: 0;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}



/* NavBar */
nav {
  display: flex;
  align-items: center;
  height: inherit;
  /* height: 76px; */
  /* background-color: aqua; */
}

nav a {
  margin-left: 10px;
}

nav .navbtncontainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: blue; */
  height: inherit;
}


/* FOOTER */


